{{#each}}
<div class="card">
    <div class="card-body">
        This is some text within a card body.
    </div>
    <button id="devour" class="btn btn-secondary">Devour It!</button>
</div>
{{/each}}

        <form>
            <div class="form-group">
                {{!--
                <label for="formGroupExampleInput">Example label</label> --}}
                <input type="text" class="form-control" id="burger" placeholder="Double Cheeseburger">
            </div>
        </form>
        <button id="submit" type="submit" class="btn btn-dark">Submit</button>